<div class="card m-3">
  <div class="card-body">
    <h3>You:<%= params[:question] %></h3>
  </div>
</div>
<div class="card m-3">
  <div class="card-body">
    <h3>Coach: <%= @answer %></h3>
  </div>
</div>
<%= link_to "Ask him again!", "/ask" %>
