<form action="answer" data-turbo="false" method="GET" class="input-group p-5 flex-nowrap">
  <input class="form-control" type="text" name="question">
  <input class="btn btn-outline-secondary" type="submit" value="Ask!">
</form>
<div class="p-5">
  <img src="https://media2.giphy.com/media/xUNd9WRwLlbiYBIHZu/giphy.gif?cid=ecf05e47643ov3vniv4jtiopsgacvhoud0xzpz1jpx55792y&rid=giphy.gif&ct=g" alt="">
</div>
